<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 名称空间，用来区分Mapper接口，Mapper接口的全限定路径 -->
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <result column="sAccountNO" property="sAccountNO" jdbcType="VARCHAR"/>
        <result column="sPassword" property="sPassword" jdbcType="VARCHAR"/>
        <result column="sName" property="sName" jdbcType="VARCHAR"/>
        <result column="nStatusID" property="nStatusID" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,sAccountNO,sPassword,sName,nStatusID
    </sql>
    <select id="getList" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from user
        where 1=1
    </select>

    <insert id="add" parameterType="com.example.demo.entity.User">
        insert into user (ID,sAccountNO,sPassword,sName,nStatusID) values (#{ID},#{sAccountNO},#{sPassword},#{sName},#{nStatusID})
    </insert>

    <select id="findByID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/> from user where ID = #{id}
    </select>

<!--    <select id="insertUser" parameterType="com.example.demo.entity.User">-->
<!--        insert into user(id,name,sex)-->
<!--    </select>-->
</mapper>